<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <namespace name ="SearchForPerfectHome"></namespace>
  <namespace name ="SearchPerfectHome"></namespace>

  <container>

    <register type="SearchPerfectHome.Interfaces.IAddProperty, SearchPerfectHome.Interfaces"
          mapTo="SearchPerfectHome.Service.AddProperty, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IDeleteProperty, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.DeleteProperty, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IGetUserProperty, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.GetUserProperty, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IUpdateUserProfile, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.UpdateUserProfile, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IGetUser, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.GetUser, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IGetPropertyDetailsWithUser, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.GetPropertyDetailsWithUser, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IGetPropertyImageDetails, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.GetPropertyImageDetails, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>
    
     <register type="SearchPerfectHome.Interfaces.IDeleteUser, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.DeleteUser, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IUpdateProperty, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.Service.UpdateProperty, SearchPerfectHome.Service">
      <lifetime type="singleton" />
    </register>
    
    <!-- Region for Repository-->
    <register type="SearchPerfectHome.Interfaces.IPropertyRepository, SearchPerfectHome.Interfaces"
              mapTo="SearchPerfectHome.DAL.PropertyRepository, SearchPerfectHome.DAL">
      <lifetime type="singleton" />
    </register>
    
    <register type="SearchPerfectHome.Interfaces.IPropertyImageRepository, SearchPerfectHome.Interfaces"
              mapTo="SearchPerfectHome.DAL.PropertyImageRepository, SearchPerfectHome.DAL">
      <lifetime type="singleton" />
    </register>

    <register type="SearchPerfectHome.Interfaces.IUserRepository, SearchPerfectHome.Interfaces"
            mapTo="SearchPerfectHome.DAL.UserRepository, SearchPerfectHome.DAL">
      <lifetime type="singleton" />
    </register>
  </container>

</unity>