@{
    ViewBag.Title = "About";
}
<br />
<div>
    <img src="~/UploadedFiles/searchperhome_screenshot.png" />
</div>
<br />
<h5>Share your home, share your life</h5>
<p>
    No more panicked trips to new school or hassle to search a room-mate. We provide a platform for our users
    to search for a place and a person they will love to live with. You get a welcoming place to live in
    a great location near your university, with vetted housemates. You can share your expenses from the first
    day of school.
</p>
<p>
    It all means low-hassle renting, somewhere you love coming home to, more time to enjoy life - and people
    to enjoy it with. It's why not take a look. You can have great housemates to share with, an engaged
    local community and city-wide connections.
</p>

